node_modules/**
node_modules
nodemon.json
.prettierignore
routes/quotes.json

.env
testing
test.json

testing
*.rest

tmp/

vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
todo.md

security.env
.http
.rest
