node_modules/**
node_modules
nodemon.json
.prettierignore
# routes/quotes.json

# .env
# env
testing
test.json

testing
*.rest

vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
todo.md

security